@media screen and (max-width: 927px ){
	.cont-menu {
		margin: 15px 0px;
	}
}
@media screen and (max-width: 800px ){
	.body {
		background-color: #4b1d01;
	}
	.grid-cont {
		display: none;
		height: 100vh;
	}
	.initRes {
		height: 100vh;
		display: grid;
		grid-template-columns: 50px 1fr;
	}
	.btnMenu {
		opacity: .7;
		display: block;
		background: #4b1d01;
	}
	.btnMenu img {
		border-radius: 10px;
		margin-top: 200px;
		max-width: 45px;
		max-height: 45px;
	}
	.turn {
		animation: turn 1.2s forwards;
	}
	.turnAgain {
		animation: turnAgain 1.2s forwards;
	}
	@keyframes turn {
		from {
			transform: rotate(0);
		}to {
			transform: rotate(180deg);
		}
	}
	@keyframes turnAgain {
		from {
			transform: rotate(180deg);
		}to {
			transform: rotate(360deg);
		}
	}
	.floatMenu {
		display: none;
	}
	.show {
		position: absolute;
		margin-top: 150px;
		padding: 10px;
		background: #4b1d01;
		border-radius: 10px;
		animation: right 1s forwards;
		z-index: 10;
	}
	.notShow {
		position: absolute;
		margin-top: 150px;
		padding: 10px;
		background: #4b1d01;
		border-radius: 10px;
		animation: left 1s forwards;
		z-index: 10;
	}
	@keyframes right {
		from {
			margin-left: -200px;
		}to {
			margin-left: 100px;
		}
	}
	@keyframes left {
		from {
			margin-left: 100px;
		}to {
			margin-left: -200px;
		}
	}
	#move a {
		color: rgb(177, 111, 37);
		margin-bottom: 20px;
		text-decoration: none;
	}
	.inRes {
		margin-top: -260px;
		text-align: center;
		color: #381601;
		font-size: 20px;
		overflow: hidden;
	}
	.cont_portafolio_r {
		margin-top: 300px;
	}
	.cont_portafolio_r h2, h3 {
		margin: 10px 15px;
	}.cont_portafolio_r h2 {
		text-decoration-line: underline;
	}
	.cont-img-r {
		margin: 0 auto;
		margin-top: 20px;
		width: 350px;
		height: 600px;
		opacity: .85;
	}
	.cont-img-r img {
		max-width: 500px;
		max-height: 500px;
		position: relative;
		top: -30px;
		left: -50px;		
	}
	.hisRes {
		display: none;
		height: 100vh;
		text-align: center;
		padding: 10px;
		overflow: hidden;
		color: #381601;
	}
	.hisRes h2 {
		text-decoration-line: underline;
	}
	.imgRes img {
		margin: 10px auto;
		margin-left: -80px;
		width: 400px;
		height: 400px;
	}
	.menuRes {
		display: none;
		height: 100vh;
		text-align: center;
		padding: 10px;
		color: #381601;
	}
	.menuRes h1 {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	.left,.right {
		margin: 0;
	}
	.galery img,.galery img {
		width: 30px;
		height: 30px;
	}
	.package {
		margin: 10px 150px;
		border-bottom: 3px dotted #381601;
	}
	.contactRes {
		display: none;
		height: 100vh;
		text-align: center;
		padding: 10px;
	}
	.dataF {
		margin: 10px;
	}
	.info {
		display: none;
	}
	
}
@media screen and (max-width: 600px ){
	.package {
		margin: 10px 0;
	}
}
@media screen and (max-width: 440px ){
	.dataF {
		display: none;
	}
	.info {
		display: block;
		color: #381601;
	}
	.maps {
		margin-top: 200px;
	}
}
